<!DOCTYPE html> <!--Legacy bs from the Sprint09 - still can be useful-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USOF | Login</title>
    <meta name="description" content="Login Page">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Login: <input type="text" name="login" required></label><br>
        <label>Password: <input type="password" name="password" required></label><br>
        <button type="submit">Log In</button>
    </form>
    <p id="message"></p>
    <p><a href="/reminder.html">Forgot password?</a></p>
    <p><a href="/register.html">Register</a></p>

    <script src="/js/login-script.js"></script>
</body>
</html>