<!DOCTYPE html> <!--Legacy bs from the Sprint09 - still can be useful-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USOF | Password Reset</title>
    <meta name="description" content="Password Reset Page">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Password Reset</h1>
    <form id="reminderForm">
        <label>Email: <input type="email" name="email" required></label><br>
        <button type="submit">Send Password Reset Link</button>
    </form>
    <p id="message"></p>
    <p><a href="/login.html">Back to login</a></p>
    
    <script src="/js/reminder-script.js"></script>
</body>
</html>